.git
.github
.gitignore
.dockerignore
.idea
.run
.vscode
.venv
venv
__pycache__
*.py[cod]
.env
.env.*
!.env.example
.pytest_cache
.coverage
htmlcov
tests
docs
logs
media
staticfiles
*.zip
Makefile
README.md
